extends partials/templates/_template.pug

block content
  +b.SECTION.page--404

    // Not found
    +b.SECTION.not-found
      .container
        +e.img
          img(src='img/404.png' alt='page-404' title='page-404')
        +e.H1.title Запрашиваемая вами страница не найдена
        +e.text Попробуйте найти необходмую вам услугу через каталог услуг или свяжитесь с нашими специалистами по телефону
          a(href="tel:+78124413792", target="_blank") +7 (812) 441-37-92
          a(href="tel:+78129216001", target="_blank") +7 (812) 921-60-01
        +e.btn
          +b.A.btn(href="page-services.html") Перейти в услуги

    // Form question
    include partials/components/_form-question.pug
    // News section
    include partials/components/_news-section.pug    
    // Form cert
    include partials/components/_form-cert.pug
    // Clients + reviews
    include partials/components/_clients-reviews.pug
    // Map
    include partials/components/_map.pug
