extends partials/templates/_template.pug

block content
  +b.SECTION.page--services

    // Breadcrumbs
    +b.SECTION.breadcrumbs
      .container
        +e.inner
          span Услуги

    // Services
    include partials/components/_services.pug
    // Form question
    include partials/components/_form-question.pug
    // News section
    include partials/components/_news-section.pug    
    // Form cert
    include partials/components/_form-cert.pug
    // Clients + reviews
    include partials/components/_clients-reviews.pug
    // Map
    include partials/components/_map.pug





