extends partials/templates/_template.pug

block content
  +b.SECTION.page--faq

    // Breadcrumbs
    +b.SECTION.breadcrumbs
      .container
        +e.inner
          span Часто задаваемые вопросы

    // Faq section
    +b.SECTION.faq
      .container
        - for (var i = 0; i< 4; i++){
          +b.faq-item
            +e.wrapper
              +e.H3.title Как оформить сертификат соответствия, если меня похители инопланетяне, и я не могу лично подать заявление на свою инопланетную жижу?
              +e.text 
                p Специалисты отдела кредитования ответят на вопрос: «Как взять ипотеку на покупку квартиры и что для этого нужно сделать?», выберут банк и программу, помогут собрать необходимый пакет документов, выберут банк и программу, помогут собрать необходимый пакет документов банк и программу, помогут собрать необходимый пакет документов, выберут банк и программу, помогут собрать необходимый пакет документов
              +e.expert Эксперт по налогообложению
        - }

    // Form question
    include partials/components/_form-question.pug
    // News section
    include partials/components/_news-section.pug
    // Form cert
    include partials/components/_form-cert.pug
    // Clients + reviews
    include partials/components/_clients-reviews.pug
    // Map
    include partials/components/_map.pug