extends partials/templates/_template.pug

block content
  +b.SECTION.page--team

    // Breadcrumbs
    +b.SECTION.breadcrumbs
      a(href="index.html") Тест Петербург Сертификация
      ='>'
      a(href="page-about.html") О компании
      ='>'
      span Команда

    +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
      .container
        +e.H1.title(itemprop="headline") Наши сотрудники
        +e.text(itemprop="articleBody")
          p Тест Петербург Сертификация" - аккредитованный центр сертификации, уже более 10 лет предлагающий свои услуги жителям Санкт-Петербурга и Ленинградской области. Наши специалисты сопровождают на всех этапах работ - от сбора документации и до выдачи сертификата. 
          p Мы не оставляем своих клиентов! После получения необходимого документа, вы в любой момент можете обратиться за бесплатной консультацией!

    // Team
    include partials/components/_team.pug
    
    // Form question
    include partials/components/_form-question.pug
    // News section
    include partials/components/_news-section.pug    
    // Form cert
    include partials/components/_form-cert.pug
    // Clients + reviews
    include partials/components/_clients-reviews.pug
    // Map
    include partials/components/_map.pug



