extends partials/templates/_template.pug

block content
  +b.SECTION.page--news

    // Breadcrumbs
    +b.SECTION.breadcrumbs
      .container
        +e.inner
          span Новости

    // News
    +b.SECTION.news
      .container
        - for (var i = 0; i< 5; i++){
          +b.news-item
            +e.wrapper
              +e.H3.title Изменения в Градостроительном кодексе РФ: строительным компаниям следует срочно перейти в местные СРО
              +e.text 
                p Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть 
              +e.more
                +e.A.link(href="single-news.html") Читать полностью
                +e.date Опубликовано 09.02.2017
        - }
        +b.page-pagination
          nav.navigation.pagination(role='navigation')
            .nav-links
              span.page-numbers.current 1
              a.page-numbers(href='#') 2
              a.page-numbers(href='#') 3
              a.page-numbers(href='#') 4
              a.page-numbers(href='#') 5
              span.page-numbers.dots …
              a.page-numbers(href='#') 44

    // Form question
    include partials/components/_form-question.pug
    // News section
    include partials/components/_news-section.pug    
    // Form cert
    include partials/components/_form-cert.pug
    // Clients + reviews
    include partials/components/_clients-reviews.pug
    // Map
    include partials/components/_map.pug


