extends partials/templates/_template.pug

block content
  +b.SECTION.page--about
    - var pageAbout = true

    // Breadcrumbs
    +b.SECTION.breadcrumbs
      .container
        +e.inner
          span О компании

    +b.SECTION.about(itemscope, itemtype="http://schema.org/Article")
      .container
        +e.H1.title(itemprop="headline") О компании
        +e.text(itemprop="articleBody")
          p Центр сертификации «Гортест Урал» является одним из российских лидеров в области разработки, оформления и получения разрешительной документации, необходимой для законного ввоза и реализации продукции, как в России, так и за ее пределами.
          p Думаете, какой документ нужно оформить на Вашу продукцию? А мы уже знаем! Посмотри на мир нашими глазами!
        +e.images.row
          .col-xs-12.col-lg-6
            img(src="img/about1.jpg", alt="about-company", title="about-company")
          .col-xs-12.col-lg-6
            img(src="img/about2.jpg", alt="about-company", title="about-company")

        +b.ready-to-help
          +e.H2.title Мы всегда готовы прийти вам на помощь
          +e.blocks
            +e.item Оперативные сроки оформления документов – от 1 рабочего дня!
            +e.item Аккредитация во всех областях сертификации товаров и услуг! 
            +e.item Грамотные специалисты – залог успешной и качественной работы
            +e.item Выгодные предложения для любых клиентов

    // Team
    include partials/components/_team.pug
    // Reviews
    include partials/components/_reviews.pug
    // Clients
    include partials/components/_clients.pug
    // Form question
    include partials/components/_form-question.pug
    // News section
    include partials/components/_news-section.pug 
    // Map
    include partials/components/_map.pug


