extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-news

    // Breadcrumbs
    +b.SECTION.breadcrumbs
      .container
        +e.inner
          a(href="page-news.html") Новости
          ='>'
          span Изменения в Градостроительном кодексе РФ: строительным компаниям следует срочно перейти в местные СРО

    // Content
    +b.SECTION.content-news(itemscope, itemtype="http://schema.org/Article")
      .container
        +e.H1.title(itemprop="headline") Изменения в Градостроительном кодексе РФ: строительным компаниям следует срочно перейти в местные СРО
        +e.date(itemprop="datePublished") Опубликовано 09.02.2017
        +e.text(itemprop="articleBody")
          p Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть только юр. лица или индивидуальные предприниматели, зарегистрированные  в том же территориальном субъекте страны, где зарегистрирована СРО.
          p Это так называемый принцип «региональности»  по которому осуществляется  вступление индивидуальных предпринимателей и юр. лиц в состав СРО.
          p Исключения представляют:
          ul
            li иностранные юридические лица;
            li те случаи, когда на территории субъекта, где зарегистрирована компания или юр. лицо отсутствует  СРО,  соответствующая требованиям, представленным в  третьей части  статьи 55.4 Градостроительного кодекса РФ и основанная на членстве субъектов, осуществляющих строительную деятельность. 
          p Оказавшиеся в такой ситуации юр. лица и предприниматели обязаны 
          ul
            li подать заявление на вступление в состав любой  аналогичной СРО, зарегистрированной на территории соседнего (имеющего общую границу) субъекта РФ. 
            li Для этого заявитель  предоставляет в выбранную  саморегулируемую  организацию выписку из гос. реестра СРО,  в которой написано, что в субъекте РФ, где зарегистрирована компания,  отсутствует  необходимая организация.
          p Согласно первому абзацу третьей части  статьи 55. 4 Градостроительного кодекса РФ  саморегулируемая организация, в которую поступило  такое заявление,  не имеет права отказать заявителю и не принять его в свой состав. То есть, если в регионе, где зарегистрирована ваша компания нет действующей СРО строителей, то вы смело можете обращаться в соседний субъект.

    // Form question
    include partials/components/_form-question.pug
    // News section
    include partials/components/_news-section.pug    
    // Form cert
    include partials/components/_form-cert.pug
    // Clients + reviews
    include partials/components/_clients-reviews.pug
    // Map
    include partials/components/_map.pug


