extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-product

    // Breadcrumbs
    +b.SECTION.breadcrumbs
      .container
        +e.inner
          a(href="page-services.html") Услуги
          ='>'
          a(href="page-services.html") Сертификация продукции
          ='>'
          span Сертификат на мясо
 
    // Content
    +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
      .container
        +e.required-docs
          +b.content-docs
            +e.H3.title Необходимые документы
            ul
              li Отказное письмо
              li Свидетельство о государственной регистрации
              li Обоснование безопасности и ЭПБ
              li Экспертиза промышленной безопасности
              li Разработка технических условий
              li Регистрация технических условий
              li Обоснование безопасности технических устройств
              li Отказное письмо
              li Свидетельство о государственной регистрации
              li Обоснование безопасности и ЭПБ
              li Экспертиза промышленной безопасности
              li Разработка технических условий
              li Регистрация технических условий
            +e.btn
              +b.A.btn(href="#", data-form='application') Заказать
        +e.img
          img(src="img/meat.jpg", alt="meat", title="meat")
          +e.btn
            +b.A.btn--blue(href="#", data-form='call') Получить бесплатную консультацию специалиста
        +e.H1.title(itemprop="headline") Сертификат на мясо
        //- +e.excerpt 
        //-   h2 Формирование проблемы
        //-   p Независимо от вида их промышленной переработки, мясные продукты в качестве продукта питания нуждаются в подтверждении безопасности.  На сегодня сертификат на мясо кролика и птицы, а также говядину, баранину, телятину, свинину, конину, мясные полуфабрикаты, консервы, субпродукты, животный жир, колбасу, желатин и бульонные кубики оформляется добровольно, дополняя ставшее обязательным декларирование мяса по нужным параметрам.
        +e.text(itemprop="articleBody")
          h2 Формирование проблемы
          p Независимо от вида их промышленной переработки, мясные продукты в качестве продукта питания нуждаются в подтверждении безопасности.  На сегодня сертификат на мясо кролика и птицы, а также говядину, баранину, телятину, свинину, конину, мясные полуфабрикаты, консервы, субпродукты, животный жир, колбасу, желатин и бульонные кубики оформляется добровольно, дополняя ставшее обязательным декларирование мяса по нужным параметрам.
          h2 Декларирование мяса по ТР ТС
          p С июля 2013 года декларация на все виды мяса будет оформляться по вступающему в силу Техрегламенту, а сертификат на мясо –  по российским стандартам (по ТР ТС добровольно сертификат на мясо оформить нельзя) в дополнение к ней.
          p ТР ТС определены не только требования к сырью и критерии оценки безопасности мясной продукции по:
          ul
            li гигиеническим,
            li паразитологическим,
            li микробиологическим
            li др. показателям, 
          p но установлены также правила ее 
          ul
            li обращения на рынке,
            li порядок идентификации и маркировки, 
            li условия производства, 
            li утилизации и т.д.
          p Особо выделены ограничения по использованию тех или иных компонентов (радионуклидов, пестицидов, антибиотиков),  в процессе испытаний также определяются показатели свежести натуральной и герметичности – консервированной продукции, кислотность жиров и т.д.



    // Content-additional
    include partials/components/_content-additional.pug  
   
    // Form cert
    include partials/components/_form-cert.pug
    // Clients + reviews
    include partials/components/_clients-reviews.pug
    // Map
    include partials/components/_map.pug


