extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-doc

    // Breadcrumbs
    +b.SECTION.breadcrumbs
      .container
        +e.inner
          a(href="page-services.html") Услуги
          ='>'
          a(href="page-services.html") Сертификация по документации
          ='>'
          span Сертификат соответствия Техническому регламенту
 
    // Content
    +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
      .container
        +e.img
          img(src="img/cert.jpg", alt="cert", title="cert")
        +e.H1.title(itemprop="headline") Сертификат соответствия Техническому регламенту
        +e.excerpt 
          p Закажите в сертификационном центре «Гортест» сертификат соответствия техническому регламенту Таможенного союза – основное подтверждение безопасности и качества вашей продукции, действующее во всех странах ТС
          +b.A.btn--blue(href="#", data-form='application') Заказать сертификат
        +e.text(itemprop="articleBody")
          h2 Когда оформлять сертификат соответствия ТР ТС 
          p Товары, которым требуется подтверждение соблюдения требований ТР ТС, перечислены в тексте каждого регламента с указанием положенных им:
          ul
            li документальной формы подтверждения соответствия (сертификат, декларация, СГР),
            li схемы (на партию, контракт или серийное производство).
          p Существует специальная, Единая форма КТС (утверждена решением №319 в 2010 г.) – полный перечень товаров, попадающих под действие того или итого регламента.

          h2 По каким схемам можно оформить сертификат соответствия техническому регламенту Таможенно союза 
          p Порядок сертификации, определяющий ее продолжительность и цену, называют схемой. 
          p Выбор схемы задает основные параметры сертификации:
          ul 
            li степень самостоятельности в получении доказательств (где проводить испытания),
            li число испытаний и протоколов (влияет на стоимость),
            li нужна ли выездная проверка производства.
          p Выбор схемы лучше делегировать. Опыт наших специалистов позволит использовать все существующие возможности. 
          p В общем виде схему выбирают, исходя из:
          ul
            li вашего статуса (зарегистрированы ли в ТС, поставщик или изготовитель),
            li вида производства (единичное или серийное),
            li периодичности и объемов поставки (партия или контракт).
          p Каждая схема имеет свои нюансы:
          ul
            li 9c – достаточно экспертизы техдокументации, испытания не нужны;
            li 8с – обязательны не только испытания образцов, но и сертификация СМК;
            li 7с – испытания, проверка производства, а после – инспекционный контроль;
            li 2с – до испытаний потребуется сертификация по ИСО-9001;
            li 5с – к проверке производства добавляется исследование проекта;
            li 3c – ничего, кроме испытаний продукции;
            li 1c – испытания и инспекционный контроль;
    // Content-additional
    include partials/components/_content-additional.pug  
   
    // Form cert
    include partials/components/_form-cert.pug
    // Clients + reviews
    include partials/components/_clients-reviews.pug
    // Map
    include partials/components/_map.pug


