.ask-expert{
  text-align: left;
  @include mq($from:xs, $until:lg){
    margin-bottom: 20px;
  } 
  &__title{
    position: relative;
    font-size: $font-size-title;
    @include font-family('Proxima Nova Light', normal, normal);
    color: $text-black;
    margin: 0 0 15px;
    padding-left: 15px;
    &:before{
      content: '';
      display: inline-block;
      margin-right: 15px;
      width: 4px;
      height: 25px;
      background-color: $blue;
    }
  }
}


