.expert-answers{
  background-color: $pale;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  @include mq($from:xs, $until:lg){
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  &__title{
    text-align: center;
    display: inline-block;
    font-size: $font-size-title;
    @include font-family('Proxima Nova Light', normal, normal);
    color: $text-black;
    margin: 0 0 15px;
    &:before{
      content: '';
      display: inline-block;
      margin-right: 15px;
      width: 4px;
      height: 25px;
      background-color: $blue;
    }
  }

  &__btn{
    margin-top: 20px;
  }
}

.expert-type{

  &--lawyers{
    .expert-type__icon{
      @include sprite($s-staff2);
      flex: 0 0 32px;
    }
  }
  &--bookkeepers{
    .expert-type__icon{
      @include sprite($s-staff3);
      flex: 0 0 27px;
    }
  }

  &__inner{
    padding: 0 10px;
  }
  &__title{
    display: flex;
    align-items: center;
    @include font-family('Proxima Nova Light', normal, normal);
    color: $text-black;
    margin: 20px 0;
  }
  &__subtitle{
    @include font-family('Proxima Nova Light', normal, normal);
    color: $text-black;
    margin: 20px 0;
    padding-left: 40px;
    font-size: $font-size-subtitle;
  }
  &__icon{
    @include sprite($s-staff1);
    flex: 0 0 24px;
    margin-right: 10px;
  }
  &__branch{
    color: $text-black;
    text-decoration: none;
  }
  &__btn{
    margin-top: 40px;
  }
}

.question-item{
  background-color: $pale;
  padding: 20px;
  text-align: left;
  position: relative;
  margin-bottom: 30px;

  &__ask{
    color: $text-black;
  }
  &__ask-text{
    margin: 10px 0 20px;
  }
  &__answer{
    font-size: $font-size-small;
    padding: 0 0px 50px 0px;
  }
  &__answer-text{
    background-color: $white;
    padding: 10px 20px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: -20px;
      right: 60px;
      border: 10px solid transparent;
      border-top: 10px solid $white;
      border-right: 10px solid $white;
    }
  }
  &__person{
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 15px; 
    max-width: 100px; 
    color: $text-black;  
  }
  &__img{
    text-align: right;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-bottom: 5px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid $white;
    }
  }
  &__link{
    font-size: $font-size-small;
    color: $red;  
    &:hover, &:focus {
      color: $red; 
    }
  }
}


.order{
  color: $grey-date;  
}
.index{
  margin-right: 10px;
}
.date{
  color: $grey-date;
}