.expert-help{
  margin-top: 70px;
  text-align: center;
  &__title{
    font-size: $font-size-title;
    @include font-family('Proxima Nova Light', normal, normal);
    color: $text-black;
    margin: 0 0 15px;
    &:before{
      content: '';
      display: inline-block;
      margin-right: 15px;
      width: 4px;
      height: 25px;
      background-color: $blue;
    }
  }
  &__gallery{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__img{
    margin: 0 30px 10px;
    img{
      width: 100%;
      border-radius: 50%;
    }
  }
  &__name{
    // padding: 0 30px;
    @include font-family('Proxima Nova Light', normal, normal);
    color: $text-black;
    font-size: $font-size-big;
  }
  &__person{
    margin-top: 5px;
    flex: 0 0 16.66%;
    max-width: 16.66%;
    @include mq($from:md, $until:lg){
      flex: 0 0 33.33%;
      max-width: 33.33%;
      margin-bottom: 10px;
    }
    @include mq($from:sm, $until:md){
      flex: 0 0 66.66%;
      max-width: 66.66%;
      margin-bottom: 10px;
    }
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
  &__description{
    background-color: $grey-marks;
    padding: 20px 20px;
    border-radius: 32px;
    margin: 35px 0 10px;
  }
  &__form{
    margin-top: 15px;
  }
}
