.has-success{
  input, textarea{
    outline: 1px solid $success;
    border: 1px solid $success;
  }
}
.has-error{
  input, textarea{
    outline: 1px solid $error;
    border: 1px solid $error;
    background-color: rgba($error, .25);
  }
  .help-block{
    display: block;
  }
}

.help-block{
  color: $error;
  display: none;
  font-size: $font-size-small;
  margin: 0 0 20px;
}

.help-block-success{
  margin-top: 20px;
  color: $success;
}
