.marks{
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    background-color: $grey-marks;
    border-radius: 3px;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    @include mq($from:xs, $until:md){
      font-size: $font-size-small;
      padding: 5px 10px;
    }
  }
  &__link{
    color: $text-black;
  }
  &__close{
    display: inline-block;
    vertical-align: baseline;
    margin-left: 5px;
    @include sprite($s-close-grey);
  }
}
