.question{
  &__title{
    @include font-family('Proxima Nova Light', normal, normal);
    font-size: $font-size-title;    
    color: $text-black;
    margin: 0 0 15px;
  }
  &__ask{
    color: $text-black;
  }
  &__ask-text{
    
  }
  &__answer-text{
    padding-left: 25px;
  }
}
.querent{
  text-align: right;
  &__name{
    @include font-family('Proxima Nova Regular', normal, normal);
    font-size: $font-size;
  }
  &__address{
    @include font-family('Proxima Nova Light', normal, normal);
    font-size: $font-size-small;
  }
  &__date{
    color: $text-color;
  }
}
.respondent{
  color: $text-black;
  display: flex;
  align-items: center;
  &__img{
    width: 90px;
    height: 90px;
    margin-right: 20px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__person{
    @include font-family('Proxima Nova Regular', normal, normal);
    font-size: $font-size;
  }
  &__position{
    @include font-family('Proxima Nova Light', normal, normal);
    font-size: $font-size-small;
  }
}

.useful{
  margin-top: 70px;
  &__text{
    margin-right: 20px;
  }
  &__link{
    color: $text-black;
    margin-right: 10px;
    &:before{
      content: '';
      display: inline-block; 
      margin-right: 5px;     
    }    
    &--like{
      &:before{
        @include sprite($s-like); 
      }
    }
    &--unlike{
      &:before{
        @include sprite($s-unlike); 
      }
    }
  }
}

.your-comment{
  margin-top: 30px;
}
.comments{
  &__item{
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey-border;
  }
  &__img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__info{
    color: $text-black;
  }
  &__text{
    @include font-family('Proxima Nova Light', normal, normal);
  }
  &__date{
    color: $text-color;
  }
}

.interesting-questions{
  &__title{
    font-size: $font-size-title;
    @include font-family('Proxima Nova Light', normal, normal);
    color: $text-black;
    margin: 0 0 15px;
    &:before{
      content: '';
      display: inline-block;
      margin-right: 15px;
      width: 4px;
      height: 25px;
      background-color: $blue;
    }
  }
}