.questions-left{
  margin-top: 130px;
  margin-bottom: 100px;
  text-align: center;
  // @include mq($from:xs, $until:lg){
  //   margin-top: 50px;
  // }
  
  &__title{
    text-align: center;
    font-size: $font-size-title;
    @include font-family('Proxima Nova Light', normal, normal);
    color: $text-black;
    margin: 0 0 10px;
    &:before{
      content: '';
      display: inline-block;
      margin-right: 15px;
      width: 4px;
      height: 25px;
      background-color: $red;
    }
  }
}
