.specialists{

  &__title{
    font-size: $font-size-title;
    @include font-family('Proxima Nova Light', normal, normal);
    color: $text-black;
    margin: 0 0 15px;
    &:before{
      content: '';
      display: inline-block;
      margin-right: 15px;
      width: 4px;
      height: 25px;
      background-color: $blue;
    }
  }
  &__gallery{
    display: flex;
    flex-wrap: wrap;
  }
  &__img{
    margin: 0 30px 10px;
    img{
      border-radius: 50%;
    }
  }
  &__person{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    @include mq($from:xs, $until:md){
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &__name{
    @include font-family('Proxima Nova Light', normal, normal);
    font-size: $font-size;
    color: $text-black;
  }

  &__description{
    background-color: $blue;
    color: $text-color-white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 33px;
  }
}
