.subscribe{
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  color: $text-color-white;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
  }

  &__inner{
    position: relative;
    z-index: 1;
  }
  &__title{
    font-size: $font-size-title;
    @include font-family('Proxima Nova Light', normal, normal);
    // color: $text-color-white;
    margin: 0;
  }
  &__text{
    margin: 5px 0;
    // color: $text-color-white;
    @include font-family('Proxima Nova Light', normal, normal);
  }
}
