.success-story{
  background-image: linear-gradient(90deg,#e9214f 0, #7741dd 100%);
  text-align: center;
  color: $text-color-white;
  padding-top: 55px;
  padding-bottom: 65px;
  &__title{
    display: inline-block;
    font-size: $font-size-title;
    @include font-family('Proxima Nova Light', normal, normal);
    margin: 0 0 15px;
  }
}
