.contacts{
  &__map{
    min-height: 500px;
  }
}

.office{
  margin: 60px 0 90px;
  text-align: left;
  // &__wrapper{
    box-shadow: 0px 1px 7px 0px rgba(30, 30, 30, 0.27);
    border-radius: 3px;
  // }
  &__title{
    margin: 0;
    padding: 20px 30px;
    @include font-family('Proxima Nova Bold', normal, normal);
    font-size: $font-size-small;
    color: $text-black;
    text-transform: uppercase;
  }
  &__info{
    background-color: $grey-bg;
    padding: 30px;
    p{
      margin: 0;
    }
  }
  &__tel-wrapper{
    a{
      display: block;
    }
  }
  &__map{
    text-decoration: underline;
    display: block;
    margin: 20px 0 0;
  }
}