.faq-section{
  padding-bottom: 60px;
  text-align: center;
  @include mq($from:xs, $until:lg){
    padding-bottom: 20px;
  }

  &__title{    
    margin: 0;
    padding: 60px 0 20px;
    @include font-family('Proxima Nova Light', normal, normal);
    font-size: $font-size-title;
    color: $text-black;
    @include mq($from:xs, $until:lg){
      text-align: center;
      padding-top: 30px;
      font-size: $font-size-subtitle;
    }
  }
  .btn{
    padding: 15px 30px;
    border-radius: 30px;
  }
}
.faq-item{
  text-align: left;
  &__wrapper{
    box-shadow: 0px 1px 7px 0px rgba(30, 30, 30, 0.27);
    border-radius: 3px;
    padding: 20px;
  }
  &__title{
    margin: 0 0 20px;
    @include font-family('Proxima Nova Bold', normal, normal);
    font-size: $font-size-small;
    color: $text-black;
  }
  &__text{
    background-color: $grey-bg;
    padding: 20px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      z-index: -1;
      bottom: -10px;
      left: 30px;
      transform: rotate(45deg);
      width: 30px;
      height: 30px;
      background-color: $grey-bg;
    }
    p{
      margin: 0;
    }
  }
  &__expert{
    padding: 20px 20px 0;
  }
  &__link{
    text-decoration: underline;
    display: block;
    margin: 20px 0 40px;
  }
}