.form{
  &__title{
    text-align: center;
    margin: 0;
    padding: 20px 0 20px;
    color: $text-black;
    @include font-family('Proxima Nova Light', normal, normal);
    font-size: $font-size-title;
    @include mq($from:xs, $until:lg){
      font-size: 28px;
    }
  }
}



.mcc-form{

  input[type="text"]{
    border-radius: 3px;
    color: $text-white;
    background-color: transparent;
    padding: 10px 10px;    
    border: 1px solid $white;

    &::-webkit-input-placeholder{
      color: $text-white;         
    }       
    &::placeholder{
      color: $text-white;         
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  }
  textarea{
    border-radius: 3px;
    vertical-align: top;
    color: $text-white;
    background-color: transparent;
    padding: 10px 10px;    
    border: 1px solid $white;

    &::-webkit-input-placeholder{
      color: $text-white;         
    }       
    &::placeholder{
      color: $text-white;         
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  } 
}



