.form-question{
  text-align: center;
  position: relative;
  min-height: 350px;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    z-index: -2;
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 0deg, rgb(24,117,177) 0%, rgb(4,157,228) 100%);
    box-shadow: 0px 0px 10px 0px rgba(30, 30, 30, 0.44);
    z-index: -1;
    opacity: .8;
  }
  
  &__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  &__img{
    margin-top: -60px;
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 15px;
    @include mq($from:xs, $until:md){
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 0;
      padding: 0 20%;
    }

  }




 /* mcc form*/
  .mcc-form{
    color: $text-white;
    table{
      display: block;
    }
    tbody{
      display: flex;
      flex-wrap: wrap;
      @include mq($from:xs, $until:lg){
        align-items: flex-end;
      }
    }
    tr{
      text-align: left;
      flex: 0 0 25%;
      max-width: 25%;
      display: block;
      margin: 15px 0;
      padding: 0 10px;
      @include mq($from:xs, $until:md){
        flex: 0 0 100%;
        max-width: 100%;
        margin: 5px 0;
      }
      &:nth-last-of-type(2){
        @include mq($from:xs, $until:md){
          margin: 15px 0;
        }
      }      

      &:nth-last-of-type(1), &:nth-last-of-type(2){
        flex: 0 0 100%;
        max-width: 100%;
      }
      &:last-of-type{
        td{
          @include mq($from:xs, $until:lg){
            text-align: center;
          }          
          input[type="submit"]{
            display: inline-block;
            text-align: center;
            border: none;
            outline: none;
            border-radius: 20px; 
            text-transform: uppercase;
            color: $text-white;
            background-color: $orange;
            padding: 10px 20px;
            margin: 0;
            &:hover, &:focus, &:active{
              background-color: $light-orange;
            }
          }
        }
      }
    }
    td{
      display: block;
      &:first-of-type{
        margin-bottom: 10px;
      }
    }
    .mcc-text{
      width: 100%;
    }
    .mcc-label{
      @include mq($from:xs, $until:xl){
        font-size: 0.9em;
      }
    }
    .mcc-form-textarea{
      // height: 40px;
    }
    .recaptcha > div{
      @include mq($from:xs, $until:lg){
        margin: 0 auto;
      }      
    }
  }
}



.form-manager{
  padding: 0 15px 20px;
  flex: 0 0 70%;
  max-width: 70%;
  color: $text-white;
  @include mq($from:xs, $until:md){
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0 20px;
  }

  &__title{
    margin: 0;
    padding: 30px 0 15px;    
    @include font-family('Proxima Nova Light', normal, normal);
    font-size: $font-size-title;    
    @include mq($from:xs, $until:lg){
      font-size: $font-size-subtitle;
    }
  }
  &__info{
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: $font-size-big;
    @include mq($from:xs, $until:lg){
      flex-direction: column;
      align-items: center;
      font-size: $font-size;
    }
  }
  &__name{
    &:before{
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: .3em;
      @include sprite($s-manager-person);
    } 
  }
  &__skype{
    color: $text-white;
    margin-left: 1em;
    @include mq($from:xs, $until:lg){
      margin-left: 0;
      margin-top: 10px;
    }

    &:before{
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: .3em;
      @include sprite($s-manager-skype);
    }
    &:hover, &:focus {
      text-decoration: none;
    } 
  }
  &__email{
    color: $text-white;
    margin-left: 1em;
    @include mq($from:xs, $until:lg){
      margin-left: 0;
      margin-top: 10px;
    }

    &:before{
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: .3em;
      @include sprite($s-manager-email);
    }
    &:hover, &:focus {
      text-decoration: none;
    }    
  }
}