.form-question{
  text-align: center;
  position: relative;
  min-height: 350px;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    z-index: -2;
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 0deg, rgb(24,117,177) 0%, rgb(4,157,228) 100%);
    box-shadow: 0px 0px 10px 0px rgba(30, 30, 30, 0.44);
    z-index: -1;
    opacity: .8;
  }
  
  &__inner{
    display: flex;
    align-items: flex-end;
  }
  &__img{
    margin-top: -60px;
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 15px;
  }




 /* mcc form*/
  .mcc-form{
    color: $text-white;
    table{
      display: block;
    }
    tbody{
      display: flex;
      flex-wrap: wrap;
    }
    tr{
      text-align: left;
      flex: 0 0 25%;
      max-width: 25%;
      display: block;
      margin: 15px 0;
      padding: 0 10px;
      &:nth-of-type(5), &:nth-of-type(6){
        flex: 0 0 100%;
        max-width: 100%;
      }
      &:last-of-type{
        td{
          input[type="submit"]{
            display: inline-block;
            text-align: center;
            border: none;
            outline: none;
            border-radius: 15px; 
            text-transform: uppercase;
            color: $text-white;
            background-color: $orange;
            padding: 10px 20px;
            margin: 0;
            &:hover, &:focus, &:active{
              color: $orange;
              background-color: transparent;
            }
          }
        }
      }
    }
    td{
      display: block;
      &:first-of-type{
        margin-bottom: 10px;
      }
    }
    .mcc-text{
      width: 100%;
    }
    .mcc-form-textarea{
      height: 40px;
    }
  }


}

.form-manager{
  padding: 0 15px 10px;
  flex: 0 0 70%;
  max-width: 70%;
  color: $text-white;
  &__title{
    margin: 0 0 20px;    
    font-size: 40px;
    @include font-family('Proxima Nova Light', normal, normal);
  }
  &__info{
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: $font-size-big;
  }
  &__name{
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: .3em;
      margin-bottom: .2em;
      @include sprite($s-manager-person);
    } 
  }
  &__skype{
    color: $text-white;
    // font-size: 1.1em;
    margin-left: 1em;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: .3em;
      @include sprite($s-manager-skype);
    }
    &:hover, &:focus {
      text-decoration: none;
    } 
  }
  &__email{
    color: $text-white;
    // font-size: 1.1em;
    margin-left: 1em;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: .3em;
      @include sprite($s-manager-email);
    }
    &:hover, &:focus {
      text-decoration: none;
    }    
  }
}