.form-cert{
  text-align: center;
  position: relative;
  min-height: 320px;
  padding-top: 60px;
  padding-bottom: 40px;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-tel.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
  }
  &:after{
    content: '';
    position: absolute;
    top: 15px;
    height: calc(100% - 30px);
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
  }


  &__title{
    margin: 0 0 10px;
    color: $text-white;
    font-size: 35px;
    @include font-family('Proxima Nova Light', normal, normal);
  }


  &--index{
    min-height: 500px;
    padding-top: 80px;
    &:before{
      top: -5px;
      background-image: url(../img/bg-spb.png);
    }
    &:after{
      top: 0;
      height: calc(100% - 15px);
    }
    .form-cert__title{
      margin: 0 0 10px;
      color: $text-white;
      font-size: 40px;
      @include font-family('Proxima Nova Regular', normal, normal);
      text-transform: uppercase;
    }
    .form-cert__text{
      color: $text-white;
      font-size: 24px;
      margin-bottom: 20px;
    } 
  }

 /* mcc form*/
  .mcc-form{
    color: $text-white;
    text-align: center;
    table{
      display: block;
    }
    tbody{
      display: flex;
      flex-wrap: wrap;
    }
    tr{      
      flex: 0 0 25%;
      max-width: 25%;
      display: block;
      margin: 15px 0;
      padding: 0 10px;
      &:nth-of-type(5), &:nth-of-type(6){
        flex: 0 0 100%;
        max-width: 100%;
      }
      &:last-of-type{
        td{
          input[type="submit"]{
            display: inline-block;
            text-align: center;
            border: none;
            outline: none;
            border-radius: 30px; 
            text-transform: uppercase;
            color: $text-white;
            background-color: $orange;
            padding: 15px 20px;
            margin: 0;
            &:hover, &:focus, &:active{
              color: $orange;
              background-color: transparent;
            }
          }
        }
      }
    }
    td{
      display: block;
      &:first-of-type{
        text-align: left;
        margin-bottom: 10px;
      }
    }
    .mcc-text{
      width: 100%;
      border: 1px solid $orange;
    }
    .mcc-form-textarea{
      height: 40px;
    }
    .recaptcha > div{
      margin: 0 auto;
    }
  }


}

