.glossary{
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  &__title{
    margin: 0 0 15px;
    font-size: $font-size-big;
    @include font-family('Proxima Nova Regular', normal, normal);
    color: $text-black;
    text-transform: uppercase;
  }
  &__letters{
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-bg;
    a{
      font-size: $font-size-big;
      text-transform: uppercase;
      color: $text-color;
      display: inline-block;
      padding: 3px;
    }
  }
  &__list{
    text-align: left;
    padding-left: 0;
    padding: 0 50px;
    margin: 10px 0;
    list-style-type: none;
    columns: 4;
    font-size: $font-size-small;
    .menu-item{
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin: 10px 0;
      a{
        color: $text-color;
      }
    }
  }
}