.header{
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 3px 0px rgba(30, 30, 30, 0.44);
  &__inner{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.logo{
  display: block;
  width: 210px;
  // @include mq($from:xs, $until:sm){
  //   margin: 0 auto;
  // }
}

.nav{
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
    font-size: $font-size-nav;
  }
  .menu-item{
    a{
      display: block;
      padding: 5px 20px;
    }
  }
}

.header-contacts{
  text-align: right;
  @include font-family('Proxima Nova Bold', normal, normal);
  &__tel{
    display: block;
    color: $black;
    margin: 5px 0;
  }
}