.map{
  position: relative;
  min-height: 470px;
  // height: 470px;
  &__inner{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__text{
    width: 30%;
  }
}
.map-contacts{
  background-color: rgba(0,0,0,0.75);
  color: $text-white;
  min-height: 470px;
  padding: 80px 40px 40px;
  &__title{
    margin: 0 0 20px;
    @include font-family('Proxima Nova Light', normal, normal);
    font-size: $font-size-title;
  }
  &__address{
    margin-bottom: 15px;
  }
  &__time{
    margin-bottom: 15px;
  }
  &__tel-wrapper{
    margin-bottom: 15px;
    a{
      color: $light-blue;
    }
  }
  &__email-wrapper{
    margin-bottom: 15px;
    a{
      color: $light-blue;
    }
  }
  .btn{
    margin: 20px 0;
    font-size: $font-size-small;
  }
  &__more{
    display: block;
    margin-top: 10px;
    color: $light-blue;
    text-decoration: underline;
  }
}

.pin{
  @include sprite($s-pin);
  transform: translateY(-50%);
}