.team{
  background-color: $grey-bg;
  padding-bottom: 60px;
  &__title{
    text-align: center; 
    margin: 0;
    padding: 80px 0 20px;
    @include font-family('Proxima Nova Light', normal, normal);
    font-size: $font-size-title;
    color: $text-black;
  }
  &__manager{
    display: none;
    &:nth-of-type(1), 
    &:nth-of-type(2), 
    &:nth-of-type(3), 
    &:nth-of-type(4){
      display: block;
    }
  }
  &__link{
    display: block;
    padding-top: 20px;
    text-align: center;
    text-decoration: underline;
  }
}

.manager{
  text-align: left;
  background-color: $white;
  box-shadow: 0px 1px 7px 0px rgba(30, 30, 30, 0.27);
  border-radius: 3px;
  margin: 20px 0;
  &__name-wrapper{
    display: flex;
    padding: 15px;
  }
  &__img{
    margin-right: 15px;
    width: 60px;
    height: 60px;
    img{
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__name{
    @include font-family('Proxima Nova Bold', normal, normal);
    font-size: $font-size-small;
    color: $text-black;
    margin: 10px 0;
  }
  &__position{
    font-size: $font-size-small;
    margin: 10px 0;
  }
  &__info{
    padding: 15px 15px 10px;
    background-color: $grey-bg;
  }
  &__link{
    display: block;
    margin: 15px 0;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: .5em;
    }
    &--icq{
      color: $text-color;
      &:before{
        @include sprite($s-about-manager-icq);
      }
    }
    &--skype{
      color: $text-color;
      &:before{
        @include sprite($s-about-manager-skype);
      }
    }
    &--email{
      &:before{
        @include sprite($s-about-manager-email);
      }
    }
  }
  &__btn{
    text-align: center;
    background-color: $grey-bg;
    padding: 0 15px 30px;
    .btn{
      font-size: $font-size-small;
    }
  }
}