mixin questionItem

  +b.ARTICLE.question-item(itemscope, itemtype="http://schema.org/Article")
    +b.order
      span.index Вопрос №1
      span.date 13.09.2016  
    +e.ask(itemprop="articleSection", itemscope, itemtype="http://schema.org/Question")
      +e.ask-text(itemprop="citation") Что необходимо оформить для реализации мороженого в магазинах?
    +e.answer(itemprop="articleSection", itemscope, itemtype="http://schema.org/Answer")
      +e.answer-text(itemprop="citation") Необходимо подготовить всю документацию, обратиться к нам в отдел и связаться со специалистом...
      +e.person(itemprop="author", itemscope, itemtype="http://schema.org/Person")
        +e.img
          img(src="img/manager1.png", alt="manager", title="manager", itemprop="image")
        +e.name(itemprop="name") Ирина Владимирова
    +e.A.link(href="single-question.html") Читать подробнее



