mixin reviewItem(text, name, img)

  +b.ARTICLE.review-item(itemscope, itemtype="http://schema.org/Review")
    +e.person(itemprop="author", itemscope, itemtype="http://schema.org/Person")
      +e.info
        +e.name(itemprop="name") #{name}
        //- +e.position(itemprop="jobTitle") Счастливый директор свечного заводика
        //- +e.date 13.09.2016
      +e.img
        img(src="img/clients/"+img+".jpg", alt="client", title="client", itemprop="image")
    +e.text(itemprop="reviewBody") !{text}         

