/*
  Project variables
  =================
*/


/*
  Flex Sass grid generator variables
  ==================================
*/

$base-font-size:              16px;
$grid-columns:                12 !default;
$grid-gutter-width:           40px !default;

$screen-xs:                   0; // Extra small screen / phone
$screen-sm:                   480px; // Small screen / phone
$screen-md:                   700px; // Medium screen / tablet
$screen-lg:                   950px; // Large screen / desktop
$screen-xl:                   1200px; // Extra large screen / wide desktop
//$screen-xxl:                  1890px; // Super large screen / extra wide desktop

$container-max-widths: (
        sm:                   480px,
        md:                   700px,
        lg:                   950px,
        xl:                   1200px
) !default;


$grid-breakpoints: (
        xs:                   0,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;

/*
  Sass MQ variables
  =================

  [sass-mq](https://github.com/sass-mq/sass-mq)
*/

$mq-breakpoints: (
        xs:                   0px,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;



//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------


// Color table 

$white:                       #ffffff;
$black:                       #000000;


$dark-blue:                   #2c83bd;
$blue:                        #3891ca;
$light-blue:                  #a2d7f9;

$orange:                      #ff8400;

$grey-light:                  #b7b7b7;

$grey-bg:                     #eceff1;
$grey-text:                   #4f6f7b;
$grey-text-light:             #9d9d9d;

// Colors in use

$body-bg:                     $white;
$text-color:                  $grey-text;


$text-black:                  $black;
$text-blue:                   $blue;
$text-white:                  $white;

$link-color:                  $blue;



//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------


$font-family:                   'Proxima Nova Regular', Helvetica, Arial, sans-serif;
$font-family--light:            'Proxima Nova Light', Helvetica, Arial, sans-serif;
$font-family--bold:             'Proxima Nova Bold', Helvetica, Arial, sans-serif;


// $font-family--extrabold:        'Proxima Nova Extrabold', Helvetica, Arial, sans-serif;

//$font-family--serif:          Georgia, "Times New Roman", Times, serif;
//$font-family--monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;





$font-size:                   16px;
$font-size-subtitle:          24px;
$font-size-title:             40px;

$font-size-big:               18px;
$font-size-small:             14px;

$font-size-btn:               14px;
$font-size-logo:              18px;
$font-size-nav:               14px;

$font-size-h2:                24px;
$font-size-h3:                20px;

// $line-height:                 1.75;



