include ../abstracts/bemto/bemto.pug

.container
  .row
    .col-xs-12.col-lg-6
      // Clients section
      +b.SECTION.clients-section
        +e.H2.title С нами работают
        +e.gallery
          +e.item
            img(src= "img/client1.jpg", alt='client1', title='client1')
          +e.item
            img(src= "img/client2.jpg", alt='client2', title='client2')
          +e.item
            img(src= "img/client1.jpg", alt='client1', title='client1')
          +e.item
            img(src= "img/client2.jpg", alt='client2', title='client2')
        +e.link
          a(href="page-clients.html") Показать всех партнеров

    .col-xs-12.col-lg-6
      // Reviews section
      +b.SECTION.reviews-section
        +e.H2.title Отзывы
        +e.gallery
          - for (var i = 0; i< 3; i++){
            +b.reviews-item
              +e.wrapper
                +e.H3.name Эксперт по налогообложению
                +e.text 
                  p Гортест Урал» — аккредитованный центр сертификации продукции и услуг Мы предлагаем нашим клиентам целый спектрцентр сертификации продукции и услуг Мы предлагаем нашим клиентам целый спектрцентр спектрцентр сертификации нашим клиентам целый спектрцентр спектрцентр сертификации
          - }
        +e.link
          a(href="page-reviews.html") Показать все отзывы


