include ../abstracts/bemto/bemto.pug


+b.SECTION.clients
  .container
    +e.inner
      +e.H2.title С нами работают
      +e.UL.gallery
        +e.item
          img(src= "img/client1.jpg", alt='client1', title='client1')
        +e.item
          img(src= "img/client2.jpg", alt='client2', title='client2')
        +e.item
          img(src= "img/client1.jpg", alt='client1', title='client1')
        +e.item
          img(src= "img/client2.jpg", alt='client2', title='client2')
        +e.item
          img(src= "img/client1.jpg", alt='client1', title='client1')
        +e.item
          img(src= "img/client2.jpg", alt='client2', title='client2')
        +e.item
          img(src= "img/client1.jpg", alt='client1', title='client1')
      +e.A.link(href="#") Показать всех партнеров



