include ../abstracts/bemto/bemto.pug


+b.SECTION.content-additional
  .container
    .row
      .col-xs-12.col-lg-6
        +e.complications
          +e.H3.title В чем сложность
          +e.text
            ul
              li Тiet zomaar willekeurige tekst. het heeft zijn wortels in een
              li stuk klassieke latijnse literatuur uit 45 v.Chr. en is dus meer
              li an 2000 jaar oud. Richard McClintock, een professor latijn aan de Hampden-Sydney College in Virginia, heeft één
              li van de meer obscure latijnse woorden, consectetur
              li uit een Lorem Ipsum passage opgezocht, en heeft tijdens het zoeken 
              li klassieke literatuur de onverdachte bron
      .col-xs-12.col-lg-6
        +e.our-help
          +e.H3.title Чем мы можем помочь
          +e.text
            ul
              li Тiet zomaar willekeurige tekst. het heeft zijn wortels in een
              li stuk klassieke latijnse literatuur uit 45 v.Chr. en is dus meer an 2000 jaar oud. Richard McClintock, een professor latijn 
              li aan de Hampden-Sydney College in Virginia, heeft één
              li van de meer obscure latijnse woorden, consectetur
              li uit een Lorem Ipsum passage opgezocht, en heeft tijdens het zoeken 
              li klassieke literatuur de onverdachte bron

