include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .container
    +e.inner
      +e.info
        +e.copyright
          p © 2016
          p Тест Петербург Сертификация
        +b.footer-contacts(itemscope, itemtype="http://schema.org/ContactPoint")
          +e.tel-wrapper
            +e.A.tel(href="tel:+78124413792", target="_blank", itemprop="telephone") +7 (812) 441-37-92
            +e.A.tel(href="tel:+78129216001", target="_blank", itemprop="telephone") +7 (812) 921-60-01
          +e.email-wrapper
            +e.A.email(href="mailto:info@testspb.ru", target="_blank", itemprop="email") info@testspb.ru

      +e.nav
        // Nav
        +b.NAV.nav-footer
          +e.UL.list
            li.menu-item 
              a(href="page-services.html") Услуги
            li.menu-item  
              a(href="page-news.html") Новости сертификации
            li.menu-item 
              a(href="page.html") Мнения экспертов
            li.menu-item  
              a(href="page-about.html") О компании
            li.menu-item  
              a(href="page.html") Узнать стоимость
            li.menu-item  
              a(href="page.html") Базы кодов

      +e.widget      

// Overlay
+b.overlay
  +e.bg
  +e.form
    +e.close(href="/")
    // Form application
    +b.SECTION.form--application
      +e.H2.title Рассчитать стоимость
      // MCC form cert
      form#mccoform_construct.mcc-form.mcc-form-order-certificate.mcc-form-order-certificate-occ(method='post', action='')
        table
          tbody
            tr
              td.mcc-label.mcc-label-name_of_product
                div
                  | Наименование продукции: 
                  span.mcc-required *
              td.mcc-value.mcc-value-name_of_product
                input#mcc_name_of_product.mcc-text.mcc-form-input(name='mcc_name_of_product', type='text', value='', maxlength='255')
            tr
              td.mcc-label.mcc-label-name
                div
                  | Ваше имя: 
                  span.mcc-required *
              td.mcc-value.mcc-value-name
                input#mcc_name.mcc-text.mcc-form-input(name='mcc_name', type='text', value='')
            tr
              td.mcc-label.mcc-label-email
                div
                  | Ваш e-mail: 
                  span.mcc-required *
              td.mcc-value.mcc-value-email
                input#mcc_email.mcc-text.mcc-form-input(name='mcc_email', type='text', value='')
            tr
              td.mcc-label.mcc-label-phone
                div
                  | Контактный телефон:
              td.mcc-value.mcc-value-phone
                input#mcc_phone.mcc-text.mcc-form-input(name='mcc_phone', type='text', value='', maxlength='30')
            tr
              td.mcc-label.mcc-label-captchacode(style='display: none;')
              td.mcc-captcha.mcc-value-captcha
                div
                  #mcc_captcha_block.mcc_captcha_block
                    #recaptcha1.recaptcha
                      div(style='width: 304px; height: 78px;')
                        div
                          iframe(src='https://www.google.com/recaptcha/api2/anchor?k=6LeAaiYTAAAAADEv2Lz3Mb--6fmLFt97M9JIJ0xX&co=aHR0cDovL3Rlc3RzcGIucnU6ODA.&hl=ru&v=r20170228102020&size=normal&cb=pfrnyhc7yb61', title='виджет reCAPTCHA', width='304', height='78', frameborder='0', scrolling='no', name='undefined')
                .mcc_captcha_block_after
            tr
              td.mcc-label(style='display: none;')
                // 
              td
                input.mcc-submit(type='submit', name='mcc_submit', value='Заказать документ')
    // Form question
    +b.SECTION.form--question
      +e.H2.title Задать вопрос
      // MCC form question
      form#mccqform.mcc-form.mcc-form-question.mcc-form-only-form(action='', method='post')
        table
          tbody
            tr
              td.mcc-label.mcc-label-name
                div
                  | Ваше имя: 
                  span.mcc-required *
              td.mcc-value.mcc-value-name
                input#mcc_question_name.mcc-text.mcc-form-input(name='mcc_question_name', maxlength='255', value='', size='27', type='text')
            tr
              td.mcc-label.mcc-label-phone
                div Контактный телефон:
              td.mcc-value.mcc-value-phone
                input#mcc_question_phone.mcc-text.mcc-form-input(name='mcc_question_phone', maxlength='30', value='', size='27', type='text')
            tr
              td.mcc-label.mcc-label-email
                div
                  | Контактный e-mail: 
                  span.mcc-required *
              td.mcc-value.mcc-value-email
                input#mcc_question_email.mcc-text.mcc-form-input(name='mcc_question_email', maxlength='255', value='', size='27', type='text')
            tr
              td.mcc-label.mcc-label-question
                div
                  | Ваш вопрос: 
                  span.mcc-required *
              td.mcc-value.mcc-value-question
                textarea#mcc_question_question.mcc-text.mcc-form-textarea(name='mcc_question_question', cols='50', rows='10')
            tr
              td.mcc-label.mcc-label-captchacode(style='display: none;')
              td.mcc-captcha.mcc-value-captcha
                div
                  #mcc_captcha_block.mcc_captcha_block
                    #recaptcha1.recaptcha
                      div(style='width: 304px; height: 78px;')
                        div
                          iframe(src='https://www.google.com/recaptcha/api2/anchor?k=6LeAaiYTAAAAADEv2Lz3Mb--6fmLFt97M9JIJ0xX&co=aHR0cDovL3Rlc3RzcGIucnU6ODA.&hl=ru&v=r20170228102020&size=normal&cb=lwn8143gk7gg', title='виджет reCAPTCHA', width='304', height='78', frameborder='0', scrolling='no', name='undefined')
                        textarea#g-recaptcha-response.g-recaptcha-response(name='g-recaptcha-response', style='width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; ')
                  .mcc_captcha_reload(onclick="mcc_question_and_answer_form_captcha_reload( this, 'MCC_Captcha_Question0' )", title='Обновить картинку')
                .mcc_captcha_block_after
            tr
              td.mcc-label(style='display: none;')
              td
                input.mcc-submit(name='mcc_submit', value='Спросить', type='submit')
    // Form call
    +b.SECTION.form--call
      +e.H2.title Заказать звонок
      // MCC form call
      form#mcccform.mcc-form.mcc-form-order-call(method='post', action='')
        table
          tbody
            tr
              td.mcc-label.mcc-label-name
                div
                  | Ваше имя: 
                  span.mcc-required *
              td.mcc-value.mcc-value-name
                input#mcc_name.mcc-text.mcc-form-input(name='mcc_name', type='text', value='', maxlength='255')
            tr
              td.mcc-label.mcc-label-phone
                div
                  | Контактный телефон: 
                  span.mcc-required *
              td.mcc-value.mcc-value-phone
                input#mcc_phone.mcc-text.mcc-form-input(name='mcc_phone', type='text', value='', maxlength='30')
            tr
              td.mcc-label.mcc-label-captchacode(style='display: none;')
              td.mcc-captcha.mcc-value-captcha
                div
                  #mcc_captcha_block.mcc_captcha_block
                    #recaptcha1.recaptcha
                      div(style='width: 304px; height: 78px;')
                        div
                          iframe(src='https://www.google.com/recaptcha/api2/anchor?k=6LeAaiYTAAAAADEv2Lz3Mb--6fmLFt97M9JIJ0xX&co=aHR0cDovL3Rlc3RzcGIucnU6ODA.&hl=ru&v=r20170228102020&size=normal&cb=iqjd1fybcxkx', title='виджет reCAPTCHA', width='304', height='78', frameborder='0', scrolling='no', name='undefined')
                        textarea#g-recaptcha-response.g-recaptcha-response(name='g-recaptcha-response', style='width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; ')
                .mcc_captcha_block_after
            tr
              td.mcc-label(style='display: none;')
                // 
              td
                input.mcc-submit(type='submit', name='mcc_submit', value='Заказать звонок')




