include ../abstracts/bemto/bemto.pug


+b.SECTION.form-question 
  .container
    +e.inner
      +e.img
        img(src="img/manager.png", alt="Elena", title="Elena")
      +b.form-manager(itemscope, itemtype="http://schema.org/Person")
        +e.H2.title Задайте вопрос нашему специалисту
        +e.info    
          +e.SPAN.name(itemprop="name") Ирина Владимировна
          +e.A.skype(href="skype:skype01") irina-irina
          +e.A.email(href="mailto:irina.manager@gortest.ru", target="_blank", itemprop="email") irina@testspb.ru

        // MCC form question
        form#mccqform.mcc-form.mcc-form-question.mcc-form-only-form(action='', method='post')
          table
            tbody
              tr
                td.mcc-label.mcc-label-name
                  div
                    | Ваше имя: 
                    span.mcc-required *
                td.mcc-value.mcc-value-name
                  input#mcc_question_name.mcc-text.mcc-form-input(name='mcc_question_name', maxlength='255', value='', size='27', type='text')
              tr
                td.mcc-label.mcc-label-phone
                  div Контактный телефон:
                td.mcc-value.mcc-value-phone
                  input#mcc_question_phone.mcc-text.mcc-form-input(name='mcc_question_phone', maxlength='30', value='', size='27', type='text')
              tr
                td.mcc-label.mcc-label-email
                  div
                    | Контактный e-mail: 
                    span.mcc-required *
                td.mcc-value.mcc-value-email
                  input#mcc_question_email.mcc-text.mcc-form-input(name='mcc_question_email', maxlength='255', value='', size='27', type='text')
              tr
                td.mcc-label.mcc-label-question
                  div
                    | Ваш вопрос: 
                    span.mcc-required *
                td.mcc-value.mcc-value-question
                  textarea#mcc_question_question.mcc-text.mcc-form-textarea(name='mcc_question_question', cols='50', rows='10')
              tr
                td.mcc-label.mcc-label-captchacode(style='display: none;')
                td.mcc-captcha.mcc-value-captcha
                  div
                    #mcc_captcha_block.mcc_captcha_block
                      #recaptcha1.recaptcha
                        div(style='width: 304px; height: 78px;')
                          div
                            iframe(src='https://www.google.com/recaptcha/api2/anchor?k=6LeAaiYTAAAAADEv2Lz3Mb--6fmLFt97M9JIJ0xX&co=aHR0cDovL3Rlc3RzcGIucnU6ODA.&hl=ru&v=r20170228102020&size=normal&cb=lwn8143gk7gg', title='виджет reCAPTCHA', width='304', height='78', frameborder='0', scrolling='no', name='undefined')
                          textarea#g-recaptcha-response.g-recaptcha-response(name='g-recaptcha-response', style='width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; ')
                    .mcc_captcha_reload(onclick="mcc_question_and_answer_form_captcha_reload( this, 'MCC_Captcha_Question0' )", title='Обновить картинку')
                  .mcc_captcha_block_after
              tr
                td.mcc-label(style='display: none;')
                td
                  input.mcc-submit(name='mcc_submit', value='Спросить', type='submit')


