include ../abstracts/bemto/bemto.pug

+b.SECTION.glossary
  .container
    +e.H2.title Продукция по алфавиту
    +e.letters
      a(href="single-glossary.html") А
      a(href="single-glossary.html") Б
      a(href="single-glossary.html") В
      a(href="single-glossary.html") Г
      a(href="single-glossary.html") Д
      a(href="single-glossary.html") Е
      a(href="single-glossary.html") Ж
      a(href="single-glossary.html") З
      a(href="single-glossary.html") И
      a(href="single-glossary.html") К
      a(href="single-glossary.html") Л
      a(href="single-glossary.html") М
      a(href="single-glossary.html") Н
      a(href="single-glossary.html") О
      a(href="single-glossary.html") П
      a(href="single-glossary.html") Р
      a(href="single-glossary.html") С
      a(href="single-glossary.html") Т
      a(href="single-glossary.html") У
      a(href="single-glossary.html") Ф
      a(href="single-glossary.html") Х
      a(href="single-glossary.html") Ц
      a(href="single-glossary.html") Ч
      a(href="single-glossary.html") Ш
      a(href="single-glossary.html") Щ
      a(href="single-glossary.html") Ы
      a(href="single-glossary.html") Э
      a(href="single-glossary.html") Ю
      a(href="single-glossary.html") Я

    +e.UL.list
      li.menu-item
        a(href="single-glossary.html") Борщ
      li.menu-item
        a(href="single-glossary.html") Бортпроводник
      li.menu-item
        a(href="single-glossary.html") Бананы
      li.menu-item
        a(href="single-glossary.html") Борщ
      li.menu-item
        a(href="single-glossary.html") Бортпроводник
      li.menu-item
        a(href="single-glossary.html") Бананы
      li.menu-item
        a(href="single-glossary.html") Борщ
      li.menu-item
        a(href="single-glossary.html") Бортпроводник
      li.menu-item
        a(href="single-glossary.html") Бананы
      li.menu-item
        a(href="single-glossary.html") Борщ
      li.menu-item
        a(href="single-glossary.html") Бортпроводник
      li.menu-item
        a(href="single-glossary.html") Бананы
        