
include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  .container
    +e.inner
      +e.logo
        // Logo
        +b.A.logo(href="index.html", itemscope, itemtype="http://schema.org/Brand") 
          img(src="img/logo.svg", alt="logo", title="logo", itemprop="logo")
          //- +e.H2.title
          //-   span.blue Тест Петербург
          //-   span.orange Сертификация

      +e.nav
        // Nav
        +b.NAV.nav
          +e.UL.list
            .menu-item 
              a(href="page-services.html") Услуги
            .menu-item 
              a(href="page-about.html") О компании
            .menu-item 
              a(href="page.html") Faq
            .menu-item 
              a(href="page-news.html") Новости
            .menu-item
              a(href="page-contacts.html") Контакты
          +e.hamburger
            +b.A.hamburger(href="#")
              span

      +e.btn
        +b.A.btn(href="#", data-form='application') Узнать стоимость

      +e.contacts
        +b.header-contacts(itemscope, itemtype="http://schema.org/ContactPoint")
          +e.tel-wrapper
            +e.A.tel(href="tel:+78124413792", target="_blank", itemprop="telephone") +7 (812) 441-37-92
            +e.A.tel(href="tel:+78129216001", target="_blank", itemprop="telephone") +7 (812) 921-60-01
          +e.email-wrapper
            +e.A.email(href="mailto:info@testspb.ru", target="_blank", itemprop="email") info@testspb.ru