include ../abstracts/bemto/bemto.pug


+b.SECTION.news-section
  .container
    +e.H2.title Новости
    .row
      .col-xs-12.col-lg-6
        +b.news-item
          +e.wrapper
            +e.H3.title Изменения в Градостроительном кодексе РФ: строительным компаниям следует срочно перейти в местные СРО
            +e.text 
              p Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть 
            +e.date Опубликовано 09.02.2017
          +e.A.link(href="single-news.html") Читать полностью
      .col-xs-12.col-lg-6
        +b.news-item
          +e.wrapper
            +e.H3.title Изменения в Градостроительном кодексе РФ: строительным компаниям следует срочно перейти в местные СРО
            +e.text 
              p Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть 
            +e.date Опубликовано 09.02.2017
          +e.A.link(href="single-news.html") Читать полностью
    +e.btn
      +b.A.btn--blue(href="page-news.html") Читать все новости




