include ../abstracts/bemto/bemto.pug

.container
  .row
    .col-xs-12.col-lg-6
      // News section
      +b.SECTION.news-section
        +e.H2.title Новости
        +b.news-item
          +e.wrapper
            +e.H3.title Изменения в Градостроительном кодексе РФ: строительным компаниям следует срочно перейти в местные СРО
            +e.text 
              p Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть Сейчас  согласно  третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной  на членстве  субъектов, осуществляющих строительную деятельность,  могут быть 
            +e.date Опубликовано 09.02.2017
          +e.A.link(href="single-news.html") Читать полностью
        +b.A.btn--blue(href="page-news.html") Читать все новости
    .col-xs-12.col-lg-6
      // Faq section
      +b.SECTION.faq-section
        +e.H2.title Часто задаваемые вопросы
        +b.faq-item
          +e.wrapper
            +e.H3.title Как оформить сертификат соответствия, если меня похители инопланетяне, и я не могу лично подать заявление на свою инопланетную жижу?
            +e.text 
              p Специалисты отдела кредитования ответят на вопрос: «Как взять ипотеку на покупку квартиры и что для этого нужно сделать?», выберут банк и программу, помогут собрать необходимый пакет документов, выберут банк и программу, помогут собрать необходимый пакет документов банк и программу, помогут собрать необходимый пакет документов, выберут банк и программу, помогут собрать необходимый пакет документов
            +e.expert Эксперт по налогообложению
          +e.A.link(href="page-faq.html") Читать полностью
        +b.A.btn--blue(href="page-faq.html") Читать все вопросы


