include ../abstracts/bemto/bemto.pug

+b.SECTION.reviews
  .container
    +e.H2.title Отзывы
    .row
      - for (var i = 0; i< 4; i++){
        +e.block.col-xs-12.col-lg-4
          +b.reviews-item
            +e.wrapper
              +e.H3.name Эксперт по налогообложению
              +e.text 
                p Гортест Урал» — аккредитованный центр сертификации продукции и услуг Мы предлагаем нашим клиентам целый спектрцентр сертификации продукции и услуг Мы предлагаем нашим клиентам целый спектрцентр спектрцентр сертификации нашим клиентам целый спектрцентр спектрцентр сертификации
      - }
    +e.A.link(href="#") Показать все отзывы


