include ../abstracts/bemto/bemto.pug

+b.SECTION.services
  .container
    +e.H2.title Услуги
    +e.switcher
      +e.A.link--production.--active(href="#services-production") по продукции
      +e.A.link--docs(href="#services-docs") по документам

    +e.content
      +b.services-type--production(id='services-production')
        +e.UL.list
          li.menu-item
            a(href='#') Пищевая продукция
          li.menu-item
            a(href='#') Косметика
          li.menu-item
            a(href='#') Алкоголь
          li.menu-item
            a(href='#') Одежда
          li.menu-item
            a(href='#') Игрушки
          li.menu-item
            a(href='#') Обувь
          li.menu-item
            a(href='#') Пищевая продукция
          li.menu-item
            a(href='#') Косметика
          li.menu-item
            a(href='#') Алкоголь
          li.menu-item
            a(href='#') Одежда
          li.menu-item
            a(href='#') Игрушки
          li.menu-item
            a(href='#') Обувь

      +b.services-type--docs(id='services-docs')
        +e.UL.list
          li.menu-item
            a(href='#') Сертификация и декларирование ТР ТС
            ul.sub-menu
              li.menu-item
                a(href='#') Обязательный сертификат соответствия ТР ТС
              li.menu-item
                a(href='#') Обязательная декларация о соответствии ТР ТС
              li.menu-item
                a(href='#') Протокол к декларации ТР ТС
              li.menu-item
                a(href='#') Протокол к сертификату ТР ТС

          li.menu-item
            a(href='#') Сертификация и декларирование ГОСТ Р
            ul.sub-menu
              li.menu-item
                a(href='#') Обязательный сертификат соответствия ГОСТ Р
              li.menu-item
                a(href='#') Протокол к обязательному сертификату ГОСТ Р
              li.menu-item
                a(href='#') Добровольный сертификация продукции в добровольной системе
              li.menu-item
                a(href='#') Добровольный сертификация продукции (ГОСТ Р)
              li.menu-item
                a(href='#') Добровольная сертификация услуг (ГОСТ Р)
              li.menu-item
                a(href='#') Протокол к добровольному сертификату ГОСТ Р
              li.menu-item
                a(href='#') Обязательная декларация о соответствии ГОСТ Р
              li.menu-item
                a(href='#') Протокол к обязательной декларации ГОСТ Р
              li.menu-item
                a(href='#') Сертификат сейсмостойкости

          li.menu-item
            a(href='#') Сертификация и декларирование ТР ТС
            ul.sub-menu
              li.menu-item
                a(href='#') Обязательный сертификат соответствия ТР ТС
              li.menu-item
                a(href='#') Обязательная декларация о соответствии ТР ТС
              li.menu-item
                a(href='#') Протокол к декларации ТР ТС
              li.menu-item
                a(href='#') Протокол к сертификату ТР ТС

          li.menu-item
            a(href='#') Сертификация и декларирование ГОСТ Р
            ul.sub-menu
              li.menu-item
                a(href='#') Обязательный сертификат соответствия ГОСТ Р
              li.menu-item
                a(href='#') Протокол к обязательному сертификату ГОСТ Р
              li.menu-item
                a(href='#') Добровольный сертификация продукции в добровольной системе
              li.menu-item
                a(href='#') Добровольный сертификация продукции (ГОСТ Р)
              li.menu-item
                a(href='#') Добровольная сертификация услуг (ГОСТ Р)
              li.menu-item
                a(href='#') Протокол к добровольному сертификату ГОСТ Р
              li.menu-item
                a(href='#') Обязательная декларация о соответствии ГОСТ Р
              li.menu-item
                a(href='#') Протокол к обязательной декларации ГОСТ Р
              li.menu-item
                a(href='#') Сертификат сейсмостойкости

          li.menu-item
            a(href='#') Сертификация и декларирование ТР ТС
            ul.sub-menu
              li.menu-item
                a(href='#') Обязательный сертификат соответствия ТР ТС
              li.menu-item
                a(href='#') Обязательная декларация о соответствии ТР ТС
              li.menu-item
                a(href='#') Протокол к декларации ТР ТС
              li.menu-item
                a(href='#') Протокол к сертификату ТР ТС

          li.menu-item
            a(href='#') Сертификация и декларирование ГОСТ Р
            ul.sub-menu
              li.menu-item
                a(href='#') Обязательный сертификат соответствия ГОСТ Р
              li.menu-item
                a(href='#') Протокол к обязательному сертификату ГОСТ Р
              li.menu-item
                a(href='#') Добровольный сертификация продукции в добровольной системе
              li.menu-item
                a(href='#') Добровольный сертификация продукции (ГОСТ Р)
              li.menu-item
                a(href='#') Добровольная сертификация услуг (ГОСТ Р)
              li.menu-item
                a(href='#') Протокол к добровольному сертификату ГОСТ Р
              li.menu-item
                a(href='#') Обязательная декларация о соответствии ГОСТ Р
              li.menu-item
                a(href='#') Протокол к обязательной декларации ГОСТ Р
              li.menu-item
                a(href='#') Сертификат сейсмостойкости

          li.menu-item
            a(href='#') Сертификация и декларирование ТР ТС
            ul.sub-menu
              li.menu-item
                a(href='#') Обязательный сертификат соответствия ТР ТС
              li.menu-item
                a(href='#') Обязательная декларация о соответствии ТР ТС
              li.menu-item
                a(href='#') Протокол к декларации ТР ТС
              li.menu-item
                a(href='#') Протокол к сертификату ТР ТС

          li.menu-item
            a(href='#') Сертификация и декларирование ГОСТ Р
            ul.sub-menu
              li.menu-item
                a(href='#') Обязательный сертификат соответствия ГОСТ Р
              li.menu-item
                a(href='#') Протокол к обязательному сертификату ГОСТ Р
              li.menu-item
                a(href='#') Добровольный сертификация продукции в добровольной системе
              li.menu-item
                a(href='#') Добровольный сертификация продукции (ГОСТ Р)
              li.menu-item
                a(href='#') Добровольная сертификация услуг (ГОСТ Р)
              li.menu-item
                a(href='#') Протокол к добровольному сертификату ГОСТ Р
              li.menu-item
                a(href='#') Обязательная декларация о соответствии ГОСТ Р
              li.menu-item
                a(href='#') Протокол к обязательной декларации ГОСТ Р
              li.menu-item
                a(href='#') Сертификат сейсмостойкости



     

     
