include ../abstracts/bemto/bemto.pug


+b.SECTION.team
  .container
    +e.H2.title С вами будут работать наши сотрудники
    .row
      - for (var i = 0; i< 8; i++){
        +e.manager.col-xs-12.col-lg-3
          +b.manager(itemscope, itemtype="http://schema.org/Person")
            +e.name-wrapper
              +e.img
                img(src="img/manager-avatar.jpg", alt="manager", title="manager") 
              +e.person         
                +e.name(itemprop="name") Ирина Владимировна
                +e.position(itemprop="jobTitle") менеджер
            +e.info
              +e.A.link--icq(href="skype:skype01") 111-222-333
              +e.A.link--skype(href="skype:skype01") irina-irina
              +e.A.link--email(href="mailto:irina.manager@gortest.ru", target="_blank", itemprop="email") irina@testspb.ru
            +e.btn
              +b.A.btn(href="#", data-form='call') Написать Марии
      - }
    if pageAbout
      +e.A.link(href="#") Показать всю команду

