<section class="about-index">
  <div class="container">
    <h2 class="about-index__title">О компании</h2>
    <div class="about-index__text">
      <p>Тест Петербург Сертификация" - аккредитованный центр сертификации, уже более 10 лет предлагающий свои услуги жителям Санкт-Петербурга и Ленинградской области. Наши специалисты сопровождают на всех этапах работ - от сбора документации и до выдачи
        сертификата. </p>
      <p>Мы не оставляем своих клиентов! После получения необходимого документа, вы в любой момент можете обратиться за бесплатной консультацией!</p>
    </div>
    <div class="about-index__download">
      <a href="#">Скачать презентацию</a>
    </div>
  </div>
</section>