<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <!-- Clients section-->
      <section class="clients-section">
        <h2 class="clients-section__title">С нами работают</h2>
        <div class="clients-section__gallery">
          <div class="clients-section__item">
            <img src="img/client1.jpg" alt="client1" title="client1" />
          </div>
          <div class="clients-section__item">
            <img src="img/client2.jpg" alt="client2" title="client2" />
          </div>
          <div class="clients-section__item">
            <img src="img/client1.jpg" alt="client1" title="client1" />
          </div>
          <div class="clients-section__item">
            <img src="img/client2.jpg" alt="client2" title="client2" />
          </div>
        </div>
        <div class="clients-section__link">
          <a href="page-clients.html">Показать всех партнеров</a>
        </div>
      </section>
    </div>
    <div class="col-xs-12 col-lg-6">
      <!-- Reviews section-->
      <section class="reviews-section">
        <h2 class="reviews-section__title">Отзывы</h2>
        <div class="reviews-section__gallery">
          <div class="reviews-item">
            <div class="reviews-item__wrapper">
              <h3 class="reviews-item__name">Эксперт по налогообложению</h3>
              <div class="reviews-item__text">
                <p>Гортест Урал» — аккредитованный центр сертификации продукции и услуг Мы предлагаем нашим клиентам целый спектрцентр сертификации продукции и услуг Мы предлагаем нашим клиентам целый спектрцентр спектрцентр сертификации нашим клиентам целый
                  спектрцентр спектрцентр сертификации</p>
              </div>
            </div>
          </div>
          <div class="reviews-item">
            <div class="reviews-item__wrapper">
              <h3 class="reviews-item__name">Эксперт по налогообложению</h3>
              <div class="reviews-item__text">
                <p>Гортест Урал» — аккредитованный центр сертификации продукции и услуг Мы предлагаем нашим клиентам целый спектрцентр сертификации продукции и услуг Мы предлагаем нашим клиентам целый спектрцентр спектрцентр сертификации нашим клиентам целый
                  спектрцентр спектрцентр сертификации</p>
              </div>
            </div>
          </div>
          <div class="reviews-item">
            <div class="reviews-item__wrapper">
              <h3 class="reviews-item__name">Эксперт по налогообложению</h3>
              <div class="reviews-item__text">
                <p>Гортест Урал» — аккредитованный центр сертификации продукции и услуг Мы предлагаем нашим клиентам целый спектрцентр сертификации продукции и услуг Мы предлагаем нашим клиентам целый спектрцентр спектрцентр сертификации нашим клиентам целый
                  спектрцентр спектрцентр сертификации</p>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews-section__link">
          <a href="page-reviews.html">Показать все отзывы</a>
        </div>
      </section>
    </div>
  </div>
</div>