<section class="clients">
  <div class="container">
    <div class="clients__inner">
      <h2 class="clients__title">С нами работают</h2>
      <ul class="clients__gallery">
        <li class="clients__item">
          <img src="img/client1.jpg" alt="client1" title="client1" />
        </li>
        <li class="clients__item">
          <img src="img/client2.jpg" alt="client2" title="client2" />
        </li>
        <li class="clients__item">
          <img src="img/client1.jpg" alt="client1" title="client1" />
        </li>
        <li class="clients__item">
          <img src="img/client2.jpg" alt="client2" title="client2" />
        </li>
        <li class="clients__item">
          <img src="img/client1.jpg" alt="client1" title="client1" />
        </li>
        <li class="clients__item">
          <img src="img/client2.jpg" alt="client2" title="client2" />
        </li>
        <li class="clients__item">
          <img src="img/client1.jpg" alt="client1" title="client1" />
        </li>
      </ul>
      <a class="clients__link" href="#">Показать всех партнеров</a>
    </div>
  </div>
</section>