<section class="form-cert">
  <div class="container">
    <h1 class="form-cert__title">Закажите все необходимые документы у нас и сэкономьте свое время</h1>
    <!-- MCC form cert-->
    <form class="mcc-form mcc-form-order-certificate mcc-form-order-certificate-occ" id="mccoform_construct" method="post" action="">
      <table>
        <tbody>
          <tr>
            <td class="mcc-label mcc-label-name_of_product">
              <div>Наименование продукции:
                <span class="mcc-required">*</span>
              </div>
            </td>
            <td class="mcc-value mcc-value-name_of_product">
              <input class="mcc-text mcc-form-input" id="mcc_name_of_product" name="mcc_name_of_product" type="text" value="" maxlength="255" />
            </td>
          </tr>
          <tr>
            <td class="mcc-label mcc-label-name">
              <div>Ваше имя:
                <span class="mcc-required">*</span>
              </div>
            </td>
            <td class="mcc-value mcc-value-name">
              <input class="mcc-text mcc-form-input" id="mcc_name" name="mcc_name" type="text" value="" />
            </td>
          </tr>
          <tr>
            <td class="mcc-label mcc-label-email">
              <div>Ваш e-mail:
                <span class="mcc-required">*</span>
              </div>
            </td>
            <td class="mcc-value mcc-value-email">
              <input class="mcc-text mcc-form-input" id="mcc_email" name="mcc_email" type="text" value="" />
            </td>
          </tr>
          <tr>
            <td class="mcc-label mcc-label-phone">
              <div>Контактный телефон:</div>
            </td>
            <td class="mcc-value mcc-value-phone">
              <input class="mcc-text mcc-form-input" id="mcc_phone" name="mcc_phone" type="text" value="" maxlength="30" />
            </td>
          </tr>
          <tr>
            <td class="mcc-label mcc-label-captchacode" style="display: none;"></td>
            <td class="mcc-captcha mcc-value-captcha">
              <div>
                <div class="mcc_captcha_block" id="mcc_captcha_block">
                  <div class="recaptcha" id="recaptcha1">
                    <div style="width: 304px; height: 78px;">
                      <div>
                        <iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LeAaiYTAAAAADEv2Lz3Mb--6fmLFt97M9JIJ0xX&amp;co=aHR0cDovL3Rlc3RzcGIucnU6ODA.&amp;hl=ru&amp;v=r20170228102020&amp;size=normal&amp;cb=pfrnyhc7yb61" title="виджет reCAPTCHA"
                          width="304" height="78" frameborder="0" scrolling="no" name="undefined"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mcc_captcha_block_after"></div>
            </td>
          </tr>
          <tr>
            <td class="mcc-label" style="display: none;">
              <!-- -->
            </td>
            <td>
              <input class="mcc-submit" type="submit" name="mcc_submit" value="Заказать документ" />
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</section>