<section class="news-section">
  <div class="container">
    <h2 class="news-section__title">Новости</h2>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="news-item">
          <div class="news-item__wrapper">
            <h3 class="news-item__title">Изменения в Градостроительном кодексе РФ: строительным компаниям следует срочно перейти в местные СРО</h3>
            <div class="news-item__text">
              <p>Сейчас согласно третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной на членстве субъектов, осуществляющих строительную деятельность, могут быть Сейчас согласно третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами
                СРО, основанной на членстве субъектов, осуществляющих строительную деятельность, могут быть Сейчас согласно третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной на членстве субъектов, осуществляющих строительную
                деятельность, могут быть </p>
            </div>
            <div class="news-item__date">Опубликовано 09.02.2017</div>
          </div>
          <a class="news-item__link" href="single-news.html">Читать полностью</a>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="news-item">
          <div class="news-item__wrapper">
            <h3 class="news-item__title">Изменения в Градостроительном кодексе РФ: строительным компаниям следует срочно перейти в местные СРО</h3>
            <div class="news-item__text">
              <p>Сейчас согласно третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной на членстве субъектов, осуществляющих строительную деятельность, могут быть Сейчас согласно третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами
                СРО, основанной на членстве субъектов, осуществляющих строительную деятельность, могут быть Сейчас согласно третьей части ст. 55. 6 ФЗ № 372 (от 03. 07. 2016), членами СРО, основанной на членстве субъектов, осуществляющих строительную
                деятельность, могут быть </p>
            </div>
            <div class="news-item__date">Опубликовано 09.02.2017</div>
          </div>
          <a class="news-item__link" href="single-news.html">Читать полностью</a>
        </div>
      </div>
    </div>
    <div class="news-section__btn">
      <a class="btn btn--blue" href="page-news.html">Читать все новости</a>
    </div>
  </div>
</section>