<section class="services">
  <div class="container">
    <h2 class="services__title">Услуги</h2>
    <div class="services__switcher">
      <a class="services__link services__link--production services__link--active" href="#services-production">по продукции</a>
      <a class="services__link services__link--docs" href="#services-docs">по документам</a>
    </div>
    <div class="services__content">
      <div class="services-type services-type--production" id="services-production">
        <ul class="services-type__list">
          <li class="menu-item">
            <a href="#">Пищевая продукция</a>
          </li>
          <li class="menu-item">
            <a href="#">Косметика</a>
          </li>
          <li class="menu-item">
            <a href="#">Алкоголь</a>
          </li>
          <li class="menu-item">
            <a href="#">Одежда</a>
          </li>
          <li class="menu-item">
            <a href="#">Игрушки</a>
          </li>
          <li class="menu-item">
            <a href="#">Обувь</a>
          </li>
          <li class="menu-item">
            <a href="#">Пищевая продукция</a>
          </li>
          <li class="menu-item">
            <a href="#">Косметика</a>
          </li>
          <li class="menu-item">
            <a href="#">Алкоголь</a>
          </li>
          <li class="menu-item">
            <a href="#">Одежда</a>
          </li>
          <li class="menu-item">
            <a href="#">Игрушки</a>
          </li>
          <li class="menu-item">
            <a href="#">Обувь</a>
          </li>
        </ul>
      </div>
      <div class="services-type services-type--docs" id="services-docs">
        <ul class="services-type__list">
          <li class="menu-item">
            <a href="#">Сертификация и декларирование ТР ТС</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Обязательный сертификат соответствия ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Обязательная декларация о соответствии ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к декларации ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к сертификату ТР ТС</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Сертификация и декларирование ГОСТ Р</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Обязательный сертификат соответствия ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к обязательному сертификату ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольный сертификация продукции в добровольной системе</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольный сертификация продукции (ГОСТ Р)</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольная сертификация услуг (ГОСТ Р)</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к добровольному сертификату ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Обязательная декларация о соответствии ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к обязательной декларации ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Сертификат сейсмостойкости</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Сертификация и декларирование ТР ТС</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Обязательный сертификат соответствия ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Обязательная декларация о соответствии ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к декларации ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к сертификату ТР ТС</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Сертификация и декларирование ГОСТ Р</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Обязательный сертификат соответствия ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к обязательному сертификату ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольный сертификация продукции в добровольной системе</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольный сертификация продукции (ГОСТ Р)</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольная сертификация услуг (ГОСТ Р)</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к добровольному сертификату ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Обязательная декларация о соответствии ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к обязательной декларации ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Сертификат сейсмостойкости</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Сертификация и декларирование ТР ТС</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Обязательный сертификат соответствия ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Обязательная декларация о соответствии ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к декларации ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к сертификату ТР ТС</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Сертификация и декларирование ГОСТ Р</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Обязательный сертификат соответствия ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к обязательному сертификату ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольный сертификация продукции в добровольной системе</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольный сертификация продукции (ГОСТ Р)</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольная сертификация услуг (ГОСТ Р)</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к добровольному сертификату ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Обязательная декларация о соответствии ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к обязательной декларации ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Сертификат сейсмостойкости</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Сертификация и декларирование ТР ТС</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Обязательный сертификат соответствия ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Обязательная декларация о соответствии ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к декларации ТР ТС</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к сертификату ТР ТС</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Сертификация и декларирование ГОСТ Р</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Обязательный сертификат соответствия ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к обязательному сертификату ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольный сертификация продукции в добровольной системе</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольный сертификация продукции (ГОСТ Р)</a>
              </li>
              <li class="menu-item">
                <a href="#">Добровольная сертификация услуг (ГОСТ Р)</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к добровольному сертификату ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Обязательная декларация о соответствии ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Протокол к обязательной декларации ГОСТ Р</a>
              </li>
              <li class="menu-item">
                <a href="#">Сертификат сейсмостойкости</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>